# Functions

In [4]:
def valueFilter(dataFrame,columnName,values):
    return dataFrame[~dataFrame[columnName].isin(values)]

# Formating Data

In [5]:
import pandas as pd
from scipy.stats import pearsonr
import numpy as np
from sklearn.model_selection import train_test_split

# Import raw datasets

In [6]:
audi_raw = pd.read_csv('data/audi.csv')

In [7]:
bmw_raw = pd.read_csv('data/bmw.csv')

In [8]:
ford_raw = pd.read_csv('data/ford.csv')

In [9]:
hyundi_raw = pd.read_csv('data/hyundi.csv')

In [10]:
merc_raw = pd.read_csv('data/merc.csv')

In [11]:
skoda_raw = pd.read_csv('data/skoda.csv')

In [12]:
toyota_raw = pd.read_csv('data/toyota.csv')

In [13]:
vauxhall_raw = pd.read_csv('data/vauxhall.csv')

In [14]:
vw_raw = pd.read_csv('data/vw.csv')

# Merge into one dataframe

In [15]:
audi_raw['Brand'] = "AUDI"
bmw_raw['Brand'] = "BMW"
ford_raw['Brand'] = "Ford"
hyundi_raw['Brand'] = "hyundi"
merc_raw['Brand'] = "mercedes"
skoda_raw['Brand'] = "skoda"
toyota_raw['Brand'] = "toyota"
vauxhall_raw['Brand'] = "vauxhall"
vw_raw['Brand'] = "volkswagen"
hyundi_raw = hyundi_raw.rename(columns={'tax(£)':'tax'})

In [16]:
df = [audi_raw, bmw_raw, ford_raw, hyundi_raw, merc_raw, skoda_raw, toyota_raw, vauxhall_raw, vw_raw]

In [17]:
cars_df = pd.concat(df)

cars_df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Brand
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,AUDI
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,AUDI
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,AUDI
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,AUDI
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,AUDI
...,...,...,...,...,...,...,...,...,...,...
15152,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0,volkswagen
15153,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2,volkswagen
15154,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4,volkswagen
15155,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2,volkswagen
15156,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2,volkswagen

# Perform feature selection

AttributeError: 'DataFrame' object has no attribute 'DESCR'